#map-section {
    margin-left: 0.25rem;
}

.leaflet-popup-content-wrapper {
    background-color: antiquewhite;
    border-radius: 10px;
}

.popup-content h3 {
    font-family: "heading", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #494949;
    display: flex;
    justify-content: center;
}

.popup-content .popup-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.popup-buttons button {
    font-family: "buttons", sans-serif;
    background-color: #494949;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-buttons button:hover {
    background-color: #707070
}

#map {
    width: 100%;
    height: 50rem;
    border-radius: 10px;
}

.leaflet-control-zoom leaflet-bar leaflet-control {
    display: none;
}

.leaflet-control-container {
    display: none;
}

.leaflet-container
leaflet-touch
leaflet-retina
leaflet-fade-anim
leaflet-grab
leaflet-touch-drag
leaflet-touch-zoom {
    z-index: 500;
}


@media (max-width: 1600px) {
    .popup-content h3 {
        font-size: 1rem;
    }
    #map {
        height: 30rem;
    }
}

@media (max-width: 430px) {
    #map-section {
        display: none;
    }
}