<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="fonts.css" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="restaurants.css" />
    <script type ="module" src="searchbar.js" defer></script>
    <script type="module" src="restaurants.js" defer></script>
    <script type="module" src="map.js" defer></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
  </head>
  <body>
    <div class="header">
      <h1>MunchFindr</h1>
      <form class="searchbar">
        <input type="search" name="q" placeholder="Search restaurants" />
      </form>
      <div class="account-buttons">
        <button>Log in</button>
        <button>Sign up</button>
      </div>
    </div>
    <div class="info">
      <main>
        <h2>Main content is going to be here:</h2>
        <h3>Information</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
          assumenda quod vero aut dolorum optio. Laudantium consequatur dolore
          rerum dolorem, amet excepturi incidunt illo asperiores nesciunt
          aliquam, modi velit nostrum.
        </p>
      </main>
    </div>
    <div class="restaurants">
      <section>
        <h3>Restaurants</h3>
        <div class="scrollable-table">
          <table id="restaurants-table">
            <tr>
              <th>Name</th>
              <th>Location</th>
            </tr>
            <!-- restaurants are displayed here  -->
          </table>
        </div>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
          </div>
        </div>
      </section>
      <section>
        <h3>Map</h3>
        <div id="map"></div>
      </section>
    </div>
    <div class="footer">
      <p>&copy; 2024 MunchFindr</p>
    </div>
  </body>
</html>
