<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="header">
      <h1>MunchFindr</h1>
      <form action="/search" method="get">
        <input type="search" name="q" placeholder="Search restaurants" />
      </form>
      <div class="account-buttons">
        <button>Log in</button>
        <button>Sign up</button>
      </div>
    </div>
    <div class="info">
      <main>
        <h2>Main content is going to be here:</h2>
        <h3>Subheading</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro assumenda quod vero aut dolorum optio. Laudantium consequatur dolore rerum dolorem, amet excepturi incidunt illo asperiores nesciunt aliquam, modi velit nostrum.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro assumenda quod vero aut dolorum optio. Laudantium consequatur dolore rerum dolorem, amet excepturi incidunt illo asperiores nesciunt aliquam, modi velit nostrum.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro assumenda quod vero aut dolorum optio. Laudantium consequatur dolore rerum dolorem, amet excepturi incidunt illo asperiores nesciunt aliquam, modi velit nostrum.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro assumenda quod vero aut dolorum optio. Laudantium consequatur dolore rerum dolorem, amet excepturi incidunt illo asperiores nesciunt aliquam, modi velit nostrum.</p>
      </main>
    </div>
  </body>
</html>
