.restaurants {
  display: flex;
  flex-direction: row;
  width: 90rem;
  margin: auto;
  margin-top: 20px;
  border-radius: 2px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(206, 178, 163, 0.404);
  background-color: antiquewhite;

}

.restaurants section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.restaurants h3 {
  font-family: "info-heading", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: coral;
  display: flex;
  justify-content: left;
  margin-left: 1rem;
}

.restaurants table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.restaurants th {
  font-family: "text-medium", sans-serif;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
  width: 25%;
}

.restaurants td {
  font-family: "text-light", sans-serif;
  font-weight: 50;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: rgba(255, 127, 80, 0.144);
  font-weight: bold;
}

.scrollable-table {
  height: 50rem;
  width: auto;
  overflow: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: antiquewhite;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.modal-content h3 {
  font-family: "info-heading", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: coral;
  display: flex;
  justify-content: center;
}

.modal-content p {
  font-family: "text-light", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: left;
}

.courses-table {
  height: 15rem;
  overflow: auto;
}

.menu-buttons {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.menu-buttons button {
  font-family: "buttons", sans-serif;
  font-size: 1rem;
  background-color: coral;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-buttons button:hover {
  background-color: rgb(255, 68, 0);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.restaurant-name {
  font-family: "info-heading", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: coral;
  display: flex;
  justify-content: center;
}

.leaflet-popup-content-wrapper {
  background-color: antiquewhite;
  border-radius: 10px;
}

.popup-content h3 {
  font-family: "info-heading", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: coral;
  display: flex;
  justify-content: center;
}

.popup-content .popup-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.popup-buttons button {
  font-family: "buttons", sans-serif;
  background-color: coral;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button:hover {
  background-color: rgb(255, 68, 0);
}

#map {
  width: 100%;
  height: 50rem;
  border-bottom-right-radius: 10px;
}

.leaflet-control-zoom leaflet-bar leaflet-control {
  display: none;
}

.leaflet-control-container {
  display: none;
}

.leaflet-container
  leaflet-touch
  leaflet-retina
  leaflet-fade-anim
  leaflet-grab
  leaflet-touch-drag
  leaflet-touch-zoom {
  z-index: 500;
}
