<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Index</title>
    <link rel="stylesheet" href="/layout/styles/fonts.css" >
    <link rel="stylesheet" href="/layout/styles/main.css" >
    <link rel="stylesheet" href="/layout/styles/restaurants.css" >
    <script type="module" src="/layout/scripts/searchbar.js"></script>
    <script type="module" src="/layout/scripts/restaurants.js"></script>
    <script type="module" src="/layout/scripts/map.js"></script>
    <script type="module" src="/layout/scripts/user.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    >
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
  </head>
  <body>
    <div class="header">
      <h1>MunchFinder</h1>
      <form class="searchbar">
        <input type="search" name="q" placeholder="Search restaurants" >
      </form>
      <div class="account-buttons">
        <button onclick="window.location.href='login.html'">Log in</button>
        <button onclick="window.location.href='signup.html'">Sign up</button>
      </div>
    </div>
    <div class="info-and-profile">
      <div class="info">
        <main>
          <h2>Welcome to MunchFinder</h2>
          <h3>About us</h3>
          <p>
            MunchFinder is your one-stop solution for finding student-friendly
            restaurants and viewing their daily and weekly menus. We understand
            the needs of students and aim to make meal planning easier and more
            affordable. Browse through a wide variety of restaurants, compare
            menus, and find the perfect meal that suits your taste and budget.
          </p>
          <h3>On our website you can:</h3>
          <ul>
            <li>Search for restaurants by name or location</li>
            <li>View daily and weekly menus</li>
            <li>View restaurant locations on a map</li>
            <li>Sign up to save your restaurant preferances</li>
          </ul>
        </main>
      </div>
      <div class="profile">
        <h2>Profile</h2>
        <section>
          <div id="profile-info"></div>
        </section>
      </div>
    </div>
    <div class="restaurants">
      <section>
        <div class="restaurants-header">
          <h3>Restaurants</h3>
          <select id="sort-select">
            <option value="a-z">A-Z</option>
            <option value="z-a">Z-A</option>
            <option value="closest-to-you">Closest to you</option>
          </select>
        </div>
        <div class="scrollable-table">
          <table id="restaurants-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody id="table-body">
              <!-- restaurants are displayed here  -->
            </tbody>
          </table>
        </div>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
          </div>
        </div>
      </section>
      <section>
        <h3>Map</h3>
        <div id="map"></div>
      </section>
    </div>
    <div class="footer">
      <p>&copy; 2024 MunchFinder</p>
    </div>
  </body>
</html>
