<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/layout/styles/fonts.css" />
    <link rel="stylesheet" href="/layout/styles/login.css" />
    <script src="/layout/scripts/login.js" defer></script>
  </head>
  <body>
    <div class="login">
      <main>
        <h1>MunchFinder</h1>
        <div class="login-form">
          <form id="login-form">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Login</button>
          </form>
          <p id="login-status"></p>
        </div>
      </main>
    </div>
  </body>
</html>
