body {
  background-color: #faf6e9;
  margin-top: 0;
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "header", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 50rem;
  background-color:  #fffdf6;
  color: #494949;
  cursor: pointer;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid #494949;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px 4px rgba(129, 129, 129, 0.4);

}
.user {
  width: 50rem;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  background-color: #fffdf6;
  border-radius: 10px;
  border: 2px solid #494949;
  box-shadow: 0 0 10px 4px rgba(129, 129, 129, 0.4);
}

.main {
  width: auto;
}

.user h2 {
  font-family: "heading", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #494949;
  display: flex;
  justify-content: center;

}

.avatar {
  margin: 1rem auto auto;
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #494949;
}

.edit-profile-header {
  height: 2rem;
  font-family: "heading", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #494949;
  display: flex;
  justify-content: center;
}

.username h1 {
  font-family: "heading", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #494949;
  display: flex;
  justify-content: center;
}

.user-information {
  font-family: "text-light", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  display: block;
  margin-bottom: 1rem;
  border: 2px solid #494949;
  border-radius: 10px;
  padding: 1rem;
}

.buttons {
  display: flex;
    justify-content: center;
    align-items: center;
  margin: auto;
  font-family: "buttons", sans-serif;
  font-size: 1rem;
  background-color: #494949;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons:hover {
  background-color: #707070;
}

.save-button:hover {
  background-color: #707070;
}

#edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-form label {
  font-family: "text-light", sans-serif;
  font-style: italic;
  font-size: 1rem;
  color: #494949;
  margin: 0.5rem;
}

#edit-form input {
  font-family: "text-light", sans-serif;
  width: 15rem;
  font-size: 1rem;
  font-style: italic;
  border-radius: 5px;
  padding: 5px;
  margin: 0.5rem;
  border: 1px solid #494949;
}

#favourite-restaurant {
  font-family: "text-light", sans-serif;
  font-size: 1rem;
  width: 15rem;
  border: 1px solid #494949;
  font-style: italic;
  border-radius: 5px;
  padding: 5px;
  margin: 0.5rem;
}

#avatar-input {
  display: none;
}

#save-status {
  font-family: "text-light", sans-serif;
  justify-content: center;
  font-size: 1rem;
  height: 1.5rem;
  text-align: center;
}


@media (max-width: 600px) {
  .header h1 {
    font-size: 1.5rem;
    width: 100%;
  }
  .user {
    width: 100%;
    height: auto;
  }

  .avatar {
    height: 100px;
    width: 100px;
  }

  .edit-profile-header {
    font-size: 1rem;
  }
}